In [ ]:
# Arithmetic Operators
List of Arithmetic Operators
Operator	 Description	  Example
+	         Addition	      a + b
-	         Subtraction	  a - b
*	         Multiplication	  a * b
/	         Division	      a / b 
%	         Modulus	      a % b  (a is the dividend % b is the divisor and the "Output" is the Remainder)
**	         Exponentiation	  a ** b (a is the number to be raised ** b is the power to which the base is raised)
//	         Floor Division	  a // b (a is the dividend // b is the divisor and the "Output" is the Quotient)

In [8]:
# Addition
a = 10
b = 5
result = a + b
print(result)

# Subtraction
result = a - b
print(result)

# Multiplication
result = a * b
print(result)

# Division
result = a / b
print(result)

# Modulus
result = a % b
print(result)

# Exponentiation
result = a ** b
print(result)

# Floor Division
result = a // b
print(result)

15
5
50
2.0
0
100000
2

In [11]:
num1 = 145
num2 = 2

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 ** num2)
print(num1 % num2)

147
143
290
72.5
72
21025
1

In [ ]:
# Comparison Operators
List of Comparison Operators
Operator	Description	                Example
==	        Equal to	                a == b
!=	        Not equal to	            a != b
>	        Greater than	            a > b
<	        Less than	                a < b
>=	        Greater than or equal to	a >= b
<=	        Less than or equal to	    a <= b

In [10]:
a = 10
b = 5

# Equal to
result = (a == b)
print(result)

# Not equal to
result = (a != b)
print(result)

# Greater than
result = (a > b)
print(result)

# Less than
result = (a < b)
print(result)

# Greater than or equal to
result = (a >= b)
print(result)

# Less than or equal to
result = (a <= b)
print(result)

False
True
True
False
True
False

In [12]:
a = 90
b = 50

print(a == b)
print(a < b)
print(a > b)
print(a >= b)
print(a <= b)
print(a != b)

False
False
True
True
False
True

In [ ]:
# Logical Operators
List of Logical Operators
Operator	Description	                                               Example
and	        Returns True if both statements are true	               a and b
or	        Returns True if one of the statements is true	           a or b
not	        Reverses the result, returns False if the result is true   not a

In [13]:
a = True
b = False

# Logical AND
result = a and b
print(result)

# Logical OR
result = a or b
print(result)

# Logical NOT
result = not a
print(result)

False
True
False

In [18]:
# and
# left side | right side = result 
#    t           t           t
#    t           f           f
#    f           t           f
#    f           f           f

print(90 < 89 and 80 != 45)
print(56 <= 56 and 78 < 34)

# or 
# left side | right side = result 
#    t           t           t
#    t           f           t
#    f           t           t
#    f           f           f

print(90 < 89 or 80 != 45)

print(not 90 == 90)

False
False
True
False

In [ ]:
# Assignment Operators

In [2]:
name = "johnny"
age = 24
print(f"My name is {name}, I am {age} years old.")

My name is johnny, I am 24 years old.

In [3]:
x = 10
y = 5 

print(f"The sum of {x} and {y} is {x + y}.")

The sum of 10 and 5 is 15.

In [4]:
name = "Pankaj"
age = 25
print("My name is {}, and I am {} years old.".format(name, age))
print("My name is {0}, and I am {1} years old. {0} is learning Python.".format(name, age))
print("My name is %s, and I am %d years old." % (name, age))

My name is Pankaj, and I am 25 years old.
My name is Pankaj, and I am 25 years old. Pankaj is learning Python.
My name is Pankaj, and I am 25 years old.

In [5]:
pi = 3.14159
print("The value of pi is approximately %.2f." % pi)

The value of pi is approximately 3.14.

In [6]:
name = "Pankaj"
print(f"{name:>10}")

    Pankaj

In [7]:
name = "Pankaj"
print(f"{name:<10}")

Pankaj

In [9]:
pi = 3.141592653589793
print(f"Value of pi to 3 decimal places: {pi:.3f}")

Value of pi to 3 decimal places: 3.142

In [10]:
number = 1000000
print(f"Number with commas: {number:,}")

Number with commas: 1,000,000

In [11]:
name = "Johnny"
age = 21
pi = 3.14159
print(f"Name: {name:<10} Age: {age:<10} Pi: {pi:.2f}")

Name: Johnny     Age: 21         Pi: 3.14